<h2>Edit album</h2>

<form action="/albums/<%= @album.id %>" method="POST">
  <label for="title-field">Title:</label><br>
  <input type="text" name="title" id="title" value="<%= @album.title %>"><br>

  <label for="genre-field">Genre:</label><br>
  <input type="text" name="genre" id="genre" value="<%= @album.genre %>"><br>

  <label for="current-stock-field">Current Stock:</label><br>
  <input type="number" name="current_stock" id="current_stock" value="<%= @album.current_stock %>"><br>

  <label for="ideal-stock-field">Ideal Stock:</label><br>
  <input type="number" name="ideal_stock" id="ideal_stock" value="<%= @album.ideal_stock %>"><br>

  <label for="artist-selection">Artist:</label><br>
  <select name="artist_id" id="album_select" selected="<%= @album.artist_id %>">
   <% @artists.each do |artist| %>
    <% if artist.id == @album.artist_id %>
      <option value=<%= artist.id %> selected><%= artist.artist_name %></option>
    <% else %>
      <option value="<%= artist.id %>"><%= artist.artist_name %></option>
    <% end %>
   <% end %>
 </select><br>


 <input class="btn btn--action" type='submit' value="Submit">
</form>