<h2>Albums</h2>

<div class="inventory-wrapper">

  <% @albums.each do |album| %>

  <figure class="container">

    <div class="cd-cover">
      <img src="<%= album.thumbnail %>" alt="<%= album.title %>">
    </div>
    <p><strong><%= album.title %></strong></p>
    <p>Artist: <%= album.artist.artist_name.split.map(&:capitalize).join(' ') %></p>
    <p>Genre: <%= album.genre %></p>
    <p>Stock Level: <text class="<%= album.stock_level %>"><%= album.stock_level %></text></p><br>

    <p><a href="/albums/<%= album.id %>">View</a></p>

  </figure>

  <% end %>
  
</div>
