<h2>Inventory</h2>

<div id="inventory-wrapper">

  <% @albums.each do |album| %>
  <div class="container">
    <p><a href="/albums/<%= album.id %>"><%= album.title %></a></p>
    <p>Artist: <%= album.artist.artist_name.capitalize %></p>
    <p>Genre: <%= album.genre %></p>
    <p>Stock Level: <%= album.stock_level %></p>
    <br>
  </div>

  <% end %>
  
</div>
