<h2>New Album</h2>

<div>

  <div class="form-box">
    <div class="form-wrapper">
    <form action="/albums" method="POST">

      <div class="form-el">
        <label for="title-field">Title:</label><br>
        <input type="text" name="title"><br>
      </div>

      <div class="form-el">
        <label for="genre-field">Genre:</label><br>
        <input type="text" name="genre"><br>
      </div>

      <div class="form-el">
        <label for="current-stock-field">Current Stock:</label><br>
        <input type="number" name="current_stock"><br>
      </div>

      <div class="form-el">
        <label for="ideal-stock-field">Ideal Stock:</label><br>
        <input type="number" name="ideal_stock"><br>
      </div>

      <div class="form-el">
        <label for="thumbnail-url-field">Thumbnail (url):</label><br>
        <input type="text" name="thumbnail"><br>
      </div>

      <div class="form-el">
        <label for="artist-selection">Artist:</label><br>
        <select name="artist_id">
         <option value="" disabled selected>Select an artist:</option>
         <% @artists.each do |artist| %>
         <option value="<%= artist.id %>"><%= artist.artist_name %></option>
         <% end %>
       </select><br>
      </div>

      <div class="form-el">
        <input class="btn btn--action" type='submit' value="Submit">
      </div>

    </form>
    </div>
  </div>

  <div class="inventory-wrapper">

    <% @albums.each do |album| %>
    
      <figure class="container">
                
                <div class="cd-cover">
                  <img src="<%= album.thumbnail %>" alt="<%= album.title %>">
                </div>
                <p><strong><%= album.title %></strong></p>
                <p>Artist: <%= album.artist.artist_name.split.map(&:capitalize).join(' ') %></p>
                <p>Genre: <%= album.genre %></p>
                <p>Stock Level: <text class="<%= album.stock_level %>"><%= album.stock_level %></text></p><br>

                <p><a href="/albums/<%= album.id %>">View</a></p>


              </figure>
    
    <% end %>

  </div>

</div>