<h2>Album details:</h2>

<div>

  <div class="form-box">
    <div class="form-wrapper">

      <div class="form-el">
        <form action="/albums/<%= @album.id %>/edit" method="GET"><br>
        <input type="submit" value="Edit"></form><br>
      </div>

      <div class="form-el">
        <form action="/albums/<%= @album.id %>/delete" method="POST">
        <input type="submit" value="Delete"></form><br>
      </div>

    </div>
  </div>

  <div class="inventory-wrapper">

    <figure class="container">

      <div class="cd-cover">
        <img src="https://images-na.ssl-images-amazon.com/images/I/512ZpnnsB1L.jpg" alt="<%= @album.title %>">
      </div>
      <p><strong><%= @album.title %></strong></p>
      <p>Artist: <%= @album.artist.artist_name.capitalize %></p>
      <p>Genre: <%= @album.genre %></p>
      <p>Stock Level: <text class="<%= @album.stock_level %>"><%= @album.stock_level %></text></p> 

    </figure>

  </div>

</div>