<h2><%= @artist.artist_name %></h2>

<div>

  <div class="form-box">
    <div class="form-wrapper">
      <div class="form-el">
        <form action="/artists/<%= @artist.id %>/edit" method="GET"><input type="submit" value="Edit Artist"></form><br>
      </div>


      <div class="form-el">
        <form action="/artists/<%= @artist.id %>/delete" method="POST"><input type="submit" value="Delete Artist"></form><br>
      </div>
    </div>
  </div>

  <div class="inventory-wrapper">

    <p><% @artist.albums.each do |album| %> </p>
    <a href="/albums/<%= album.id %>">
    <div class="container">
      <p><b><%= album.title %></b></p>
      <p>Genre: <%= album.genre %></p>
      <p>Stock Level: <%= album.stock_level %></p>
      <br>
    </div>
    </a>

    <% end %>

  </div>
</div>
