<h2><%= @artist.artist_name %></h2>

<div>

  <div class="form-box">
    <div class="form-wrapper">
      <div class="form-el">
        <form action="/artists/<%= @artist.id %>/edit" method="GET"><input type="submit" value="Edit Artist"></form><br>
      </div>


      <div class="form-el">
        <form action="/artists/<%= @artist.id %>/delete" method="POST"><input type="submit" value="Delete Artist"></form><br>
      </div>
    </div>
  </div>

  <div class="inventory-wrapper">

    <p><% @artist.albums.each do |album| %> </p>
      <figure class="container">
        <div class="cd-cover">
          <img src="<%= album.thumbnail %>" alt="<%= album.title %>">
        </div>
        <p><stong><%= album.title %></strong></p>
        <p>Genre: <%= album.genre %></p>
        <p>Stock Level: <text class="<%= album.stock_level %>"><%= album.stock_level %></text></p><br>
      
        <p><a href="/albums/<%= album.id %>">View</a></p>


      </figure>
    

    <% end %>

  </div>
</div>
