<h2>Artist details:</h2>

<div>
  <p>Name: <%= @artist.artist_name %></p>
  <br>
</div>

<a href="/artists/<%= @artist.id %>/edit">Edit</a><br>
<form action="/artists/<%= @artist.id %>/delete" method="POST"><input type="submit" value="Delete"></form><br>
<a href="/artists">Back</a><br>

<div>
  <p>Albums by <%= @artist.artist_name %>:</p><br>
  <p><% @artist.albums.each do |album| %> </p>
    <p><a href="/albums/<%= album.id %>"><%= album.title %></a></p>
    <p>Genre: <%= album.genre %></p>
    <p>Stock Level: <%= album.stock_level %></p>
    <br>
  <% end %>
</div>
